<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coho.invitation.mapper.AttendeeMapper">
<!--    <select id="getAttendeeList" parameterType="Map" resultType="HashMap">-->
<!--        select * from attendee-->
<!--        where muid=#{uid} and eid=#{eid}-->
<!--        order by name;-->
<!--    </select>-->

</mapper>